# datetime module

In [7]:
import datetime #importing date time module

In [8]:
# datetime.time #working with the time class

In [14]:
t = datetime.time(4,20,15)

In [29]:
print(t)
print(f"hour : {t.hour}" )
print(f"minuts : {t.minute}")
print(f"second : {t.second}")
print(f"millisecond : {t.microsecond}")
print(f"timezone :  {t.tzinfo}")

04:20:15
hour : 4
minuts : 20
second : 15
millisecond : 0
timezone :  None

In [32]:
print(f"Earliest : {datetime.time.min}")
print(f"latest : {datetime.time.max}")
print(f"resolution : {datetime.time.resolution}")

Earliest : 00:00:00
latest : 23:59:59.999999
resolution : 0:00:00.000001

## current

<!-- current -->

In [46]:
now = datetime.datetime.now().time()

In [54]:
now.tzname()
## hour minute second macrosecond

# date

In [55]:
today = datetime.date.today()

In [60]:
today.day

15

In [66]:
print(today)
print(f"ctime : {today.ctime()}") # formatted version
print(f"tuple : {today.timetuple()}") # gives output as tuple
print(f"ordinal : {today.toordinal()}") #numerical representation of characters
print(f"year : {today.year}" )
print(f"month : {today.month}" )
print(f"day : {today.day}" )

2022-11-15
ctime : Tue Nov 15 00:00:00 2022
tuple : time.struct_time(tm_year=2022, tm_mon=11, tm_mday=15, tm_hour=0, tm_min=0, tm_sec=0, tm_wday=1, tm_yday=319, tm_isdst=-1)
ordinal : 738474
year : 2022
month : 11
day : 15

In [69]:
print(f"Earliest : {datetime.date.min}")
print(f"latest : {datetime.date.max}")
print(f"resolution : {datetime.date.resolution}")

Earliest : 0001-01-01
latest : 9999-12-31
resolution : 1 day, 0:00:00

In [70]:
d1 = datetime.date(2015,10,12)

In [72]:
d1.ctime()

'Mon Oct 12 00:00:00 2015'

In [78]:
d2 = d1.replace(month=1)

In [79]:

d2.ctime()

'Mon Jan 12 00:00:00 2015'